<div class="container">
 <div class="wrapper col-md-4 col-md-offset-4 col-sm-10">
<%= form_with(model: gain, local: true) do |form| %>
  <% if gain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gain.errors.count, "error") %> prohibited this gain from being saved:</h2>

      <ul>
      <% gain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :通貨購入日 %>
    <%= form.date_select :purchase, id: :gain_purchase %>
  </div>

  <div class="field">
    <%= form.label :通貨購入量 %>
    <!-- <%= form.number_field :purchase_price, id: :gain_purchase_price ,min: 0.01 ,class:"form-control" %> -->
    <!-- 数値 -->
    <%= form.number_field :purchase_price, id: :gain_purchase_price, min:0.000001,max:100,step:0.000001 ,class:"form-control" %>


  </div>

  <div class="field">
    <%= form.label :通貨売却日 %>
    <%= form.date_select :sell, id: :gain_sell %>
  </div>

  <div class="field">
    <%= form.label :通貨売却量 %>
    <%= form.number_field :currrent_price, id: :gain_currrent_price, min:0.000001,max:100,step:0.000001 ,class:"form-control" %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit "収支計算へ" %>
  </div>

<% end %>
 </div>
</div>

<%#= link_to"売買通貨履歴",gains_path %>
