<p id="notice"><%= notice %></p>

<h2>売買通貨履歴</h2>

<table>
  <thead>
    <tr>
      <th>購入通貨日時</th>
      <th>終値</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gains.each do |gain| %>
      <tr>
        <td><%= gain.purchase %></td>
        <td><%= gain.gain_price %></td>
        <td><%= link_to '詳細', gain %></td>
        <td><%#= link_to '編集', edit_gain_path(gain) %></td>
        <td><%= link_to '削除', gain, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '収支結果へ戻る', new_gain_path %>
