<p id="notice"><%= notice %></p>

<p>
  <strong>通貨購入日時:</strong>
  <%#= @bit_coin %>
  <%= @gain.purchase %>
</p>
<!-- <p>
  <strong>通貨売却日時:</strong>
  <%#= @bit_coin %>
  <%= @gain.sell %>
</p> -->
<br>
<p>
  <strong>通貨購入金額</strong>
  <%= @bit_coin %>
</p>
<br>
<p>
  <strong>通貨売却金額</strong>
  <%= @ask_coin %>
</p>
<br>
<p>
  <h3>収支金額</h3>
  <%= @ask_coin - @bit_coin %>
</p>


<%#= link_to '編集', edit_share_path(@share) %> |
<%#= link_to '通貨購入入力履歴', shares_path %>
