<p id="notice"><%= notice %></p>

<div class="sectionneo">
<h3>BTC_JPY</h3>
</div>
<br>
<div class="section">
<p>
  <tr>通貨購入日時:</tr>
  <%#= @bit_coin %>
  <%= @gain.purchase %>
</p>
<p>
  <tr>通貨売却日時:</tr>
  <%#= @bit_coin %>
  <%= @gain.sell %>
</p>
</div>

<br>
<div class="section">
<p>
  <tr>通貨購入金額</tr>
  <h5><%= @bit_coin.to_i %> JPY</h5>
</p>
</div>
<br>
<div class="section">
<p>
  <tr>通貨売却金額</tr>
  <h5><%= @ask_coin.to_i %> JPY</5>
</p>
</div>
<br>
<br>
<div class="section">
<p>
  <h5>通貨売却金額 - 通貨購入金額 = 収支金額</h5>
  <h1><%= @ask_coin.to_i - @bit_coin.to_i %> JPY</h1>
</p>
</div>


<%= link_to '入力画面へ戻る', new_gain_path %>
<%#= link_to '通貨購入入力履歴', shares_path %>
