<p id="notice"><%= notice %></p>

<p>
  <tr>通貨購入日時:</tr>
  <%#= @bit_coin %>
  <%= @gain.purchase %>
</p>
<p>
  <tr>通貨売却日時:</tr>
  <%#= @bit_coin %>
  <%= @gain.sell %>
</p>
<br>
<p>
  <tr>通貨購入金額</tr>
  <h5><%= @bit_coin %> JPY</h5>
</p>
<br>
<p>
  <tr>通貨売却金額</tr>
  <h5><%= @ask_coin %> JPY</5>
</p>
<br>
<p>
  <h5>通貨売却金額 - 通貨購入金額 = 収支金額</h5>
  <h1><%= @ask_coin - @bit_coin %> JPY</h1>
</p>


<%#= link_to '編集', edit_share_path(@share) %>
<%#= link_to '通貨購入入力履歴', shares_path %>
