<%= form_with(model: share, local: true) do |form| %>
  <% if share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(share.errors.count, "error") %> prohibited this share from being saved:</h2>

      <ul>
      <% share.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :通貨購入日時 %>
    <%= form.datetime_select :create_at, id: :share_create_at %>
  </div>

  <div class="field">
    <%= form.label :購入通貨種類 %>
    <%= form.select :coin, [["BTC", "BTC"], ["ETH", "ETH"], ["ETC", "ETC"], ["LTC", "LTC"], ["BCH", "BCH"], ["LISK", "LISK"], ["NEM", "NEM"], ["XRP", "XRP"], ["MONA", "MONA"]] ,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :通貨購入に利用した通貨 %>
    <%= form.select :btcjpy, [["BTC", "BTC"], ["JPY", "JPY"]] ,class:"form-control" %>
  </div>
  
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
