<p id="notice"><%= notice %></p>

<!-- <tr>
  <p>通貨購入日時:</p>
  <%#= @bit_coin %>
  <%= @share.create_at %>
</tr>
<br>
<p>
  <strong>通貨売却日時:</strong>
  <%#= @bit_coin %>
  <%= @share.ask_create_at %>
</p> -->

<p>
  <!-- <strong>購入通貨種類:</strong> -->
  <!-- <%= @share.coin %> -->
</p>

<p>

  <%#= @share.btcjpy %>
</p>

<p>
  <tr>通貨購入金額</tr>
  <h5><%= @bit_coin %> JPY</h5>
</p>
<br>
<p>
  <tr>通貨売却金額</tr>
  <h5><%= @ask_coin %> JPY</h5>
</p>
<br>
<p>
  <h5>通貨売却金額 - 通貨購入金額 = 収支金額</h5>
  <h1><%= @ask_coin - @bit_coin %> JPY</h1>
</p>
<br>
<%#= link_to '編集', edit_share_path(@share) %>
<a><%= link_to "入力画面へ", new_share_path %></a>
