<p id="notice"><%= notice %></p>

<p>
  <tr>通貨購入日:</tr>
  <%= @ethbtc.buy %>
</p>

<!-- <p>
  <tr>ETH購入量:</tr>
  <%= @ethbtc.buy_size %>
</p> -->
<br>
<p>
  <tr>支払ったBTC</tr>
  <h5><%= @bit_coin %> BTC</h5>
</p>
<br>
<p>
  <tr>通貨売却日:</tr>
  <%= @ethbtc.sell %>
</p>
<br>
<!-- <p>
  <tr>ETH売却量:</tr>
  <%= @ethbtc.sell_size %>
</p> -->

<p>
  <tr>取得したBTC</tr>
  <h5><%= @ask_coin %> BTC</5>
</p>
<br>
<p>
  <h5>取得したBTC - 支払ったBTC = BTCの収支結果</h5>
  <h1><%= @ask_coin - @bit_coin %> BTC</h1>
</p>


<!-- <%= link_to 'Back', ethbtcs_path %> -->
