<p id="notice"><%= notice %></p>

<h2>購入数量入力履歴</h2>

<table>
  <thead>
    <tr>
      <th>数量</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @counts.each do |count| %>
      <tr>
        <td><%= count.amount %></td>
        <td><%= link_to '詳細', count %></td>
        <td><%= link_to '編集', edit_count_path(count) %></td>
        <td><%= link_to '削除', count, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '仮想通貨購入数量入力', new_count_path %>
